<ul class="sidebar-nav list-group">
  <li class="list-group-item"><a href="{% url "wow:index"%}">Home</a></li>
  <li class="list-group-item"><a href="{% url "wow:playable-race-list"%}">All playable races</a></li>
  <li class="list-group-item"><a href="{% url "wow:playable-class-list"%}">All playable classes</a></li>
  <li class="list-group-item"><a href="{% url "wow:item-type-list"%}">All item types</a></li>
  <li class="list-group-item"><a href="{% url "wow:interaction-type-list"%}">All interaction types</a></li>
  <li class="list-group-item"><a href="{% url "wow:item-list"%}">All items</a></li>
</ul>
