{% extends "base.html" %}

{% block content %}
  <h1>
    Gamers List
  </h1>

  {% if gamer_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Playable race</th>
        <th>Playable class</th>
      </tr>

      {% for gamer in gamer_list %}
        <tr>
          <td>
              {{ gamer.id }}
          </td>
          <td>
              <a href="{% url "wow:gamer-detail" pk=gamer.id %} ">{{ gamer.username }}</a>
          </td>
          <td>
              {{ gamer.playable_race }}
          </td>
          <td>
              {{ gamer.playable_class }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no Gamers in the service.</p>
  {% endif %}
{% endblock %}
