{% extends "base.html" %}
{% block content %}
{% include 'includes/navigation.html' %}
<div class="container mt-8">
<div class="row flex-lg-nowrap">
<div class="col-12 col-lg-5 mb-3">
  <div class="card p-3 py-4">
    <div class="text-center">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3b4e7cc7-bd82-461e-bb62-dabd45a1f8c3/d4uye6s-b136850a-21b1-493a-ab4a-91703440f7d6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNiNGU3Y2M3LWJkODItNDYxZS1iYjYyLWRhYmQ0NWExZjhjM1wvZDR1eWU2cy1iMTM2ODUwYS0yMWIxLTQ5M2EtYWI0YS05MTcwMzQ0MGY3ZDYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.KqFu71wqXEBvUAYpqDHwsBvjKSr7HdmFGL2OH44SThc" alt="item" width="100" class="rounded-circle">
    </div>
    <div class="text-center mt-3">
      <h3 class="text-gradient text-primary mt-2 mb-3">{{ gamer.username }}</h3>
      <span>{{ gamer.playable_race.faction }}</span>
      <br>
      <span>{{ gamer.playable_race.name }} {{ gamer.playable_class.name }}</span>
      {% if user.id == gamer.id%}
      <div class="buttons mt-5">
        <a href="{% url 'wow:gamer-update' pk=gamer.id %}" class="btn btn-outline-primary px-4">
        Update profile
        </a>
        <a href="{% url 'wow:gamer-delete' pk=gamer.id %}" class="btn btn-primary px-4 ms-3">
        Delete profile
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% if gamer.items.all %}
<div class="col-12 col-lg-7 mb-3">
<div class="e-panel card">
  <div class="card-body">
    <div class="row align-items-center">
      {% if gamer.id == user.id %}
      <div class="col-12 col-md-5">
        <h4>MY LATEST ITEMS</h4>
      </div>
      <div class="col-12 col-md-3">
      </div>
      <div class="col-12 col-md-4 text-center">
        <a href="{% url 'wow:item-create' %}" class="btn btn-outline-primary px-4">
        Create new item
        </a>
      </div>
      <hr class="my-3">
      {% else %}
      <div>
        <h4>GAMER'S LATEST ITEMS</h4>
      </div>
      <hr class="my-3">
      {% endif %}
      <div class="e-table">
        <div class="table-responsive table-lg">
          <table class="table table-striped">
            <thead class="text-primary">
              <tr class="text-center">
                <th>#</th>
                <th>NAME</th>
                <th>TYPE</th>
                <th>PRICE</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              {% for item in gamer.items.all %}
              <tr>
                <td class="text-nowrap align-middle text-center">{{ item.id }} </td>
                <td class="text-wrap align-middle">
                  <a href="{% url 'wow:item-detail' pk=item.pk %}">
                  {{ item.name }}
                  </a>
                </td>
                <td class="text-wrap align-middle text-center">{{ item.type }}</td>
                <td class="text-nowrap align-middle text-center">{{ item.price }}</td>
                <td class="text-center align-middle">
                  {% if item.owner.id == user.id %}
                  <div class="btn-group mt-1">
                    <a href="{% url 'wow:item-update' pk=item.pk %}" class="btn btn-outline-secondary px-2">
                    Update
                    </a>
                    <a href="{% url 'wow:item-delete' pk=item.pk %}" class="btn btn-outline-primary px-2">
                    <i class="fa fa-trash"></i>
                    </a>
                  </div>
                  {% else %}
                  <div class="btn-group mt-1">
                    <a href="{% url 'wow:item-detail' pk=item.pk %}" class="btn btn-outline-secondary px-4">
                    Details
                    </a>
                  </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-12 col-lg-7 mb-3">
      <div class="card p-3 py-4">
        <div class="row align-items-center">
          {% if gamer.id == user.id %}
          <div class="col-12 col-md-5">
            <h4>You have no Items yet</h4>
          </div>
          <div class="col-12 col-md-3">
          </div>
          <div class="col-12 col-md-4 text-center">
            <a href="{% url 'wow:item-create' %}" class="btn btn-outline-primary px-3">
            Create new item
            </a>
          </div>
          {% else %}
          <div class="text-center">
            <h4>THIS GAMER HAS NO ITEMS YET</h4>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
