{% extends "base.html" %}

{% block content %}
  <h1>
    Interaction Types List
  </h1>

  {% if interaction_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for interaction_type in interaction_type_list %}
        <tr>
          <td>
              {{ interaction_type.id }}
          </td>
          <td>
              {{ interaction_type.name }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no Interaction Types in the service.</p>
  {% endif %}
{% endblock %}
