{% extends "base.html" %}
{% block content %}
{% include 'includes/navigation.html' %}
<div class="container mt-9">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="alert alert-primary text-white font-weight-bold p-3 py-4" role="alert">
        <h4 class="alert-heading">Are You absolutely sure You want to delete this Item?</h4>
        <p>Please note that there is no option to restore the item or its data once it's deleted.</p>
        <hr>
        <div class="buttons text-center">
          <form action="" method="post">
            {% csrf_token %}
            <div class="buttons mt-5">
              <input type="submit" value="Submit" class="btn btn-light px-4">
              <a href="{% url 'wow:item-detail' pk=item.id %}" class="btn btn-dark px-4 ms-3">
              Cancel
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}
