{% extends "base.html" %}

{% block content %}
  <h1>
    Playable Races List
  </h1>

  {% if playable_race_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Faction</th>
      </tr>

      {% for playable_race in playable_race_list %}
        <tr>
          <td>
              {{ playable_race.id }}
          </td>
          <td>
              {{ playable_race.name }}
          </td>
          <td>
              {{ playable_race.faction }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no Playable Races in the service.</p>
  {% endif %}
{% endblock %}
