{% extends "base.html" %}

{% block content %}
  <h1>
    Playable Classes List
  </h1>

  {% if playable_class_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for playable_class in playable_class_list %}
        <tr>
          <td>
              {{ playable_class.id }}
          </td>
          <td>
              {{ playable_class.name }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no Playable Classes in the service.</p>
  {% endif %}
{% endblock %}
